//----------------------------------------------------------------------------------------------------------------------
// Fantasy Flight Style Macros
//----------------------------------------------------------------------------------------------------------------------

$proficiency-color: #ece44d;
$ability-color: #5fb576;
$boost-color: #95caeb;
$challenge-color: #bb312e;
$difficulty-color: #706497;
$setback-color: #000;
$force-color: #ffffff;

//----------------------------------------------------------------------------------------------------------------------

@mixin makeSymbol($symbolName, $beforeContent, $system)
{
    .ff-#{$symbolName}
    {
        @if $system == 'genesys' {
            //noinspection CssNoGenericFontName
            font-family: "Genesys Symbol";
        } @else {
            //noinspection CssNoGenericFontName
            font-family: "EotE Symbol";
        }

        font-style: normal !important;

        &:before {
            content: $beforeContent;
        }
    }
}

@mixin makeDie($dieName, $color, $beforeContent, $tooltip-color: $color)
{
    .ff-#{$dieName}
    {
        //noinspection CssNoGenericFontName
        font-family: "EotE Symbol";
        font-style: normal !important;

        color: $color;

        // This works in 96% of browsers. I'm ok with that.
        text-stroke: 1px black;
        -moz-text-stroke: 1px black;
        -webkit-text-stroke: 1px black;

        &:before {
            content: $beforeContent;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
